<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singdiary.dao.UserRepository">

    <select id="findByUsername" resultType="Account">
        select * from account where name = #{username}
    </select>

    <select id="findDuplicateName" resultType="Account">
        select * from account where name = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO account(name, password, profileImage, backgroundImage, active, role)
        VALUES (#{name}, #{password}, #{profileImage}, #{backgroundImage}, #{active}, #{role})
    </insert>

    <update id="updateUserInfo" parameterType="Account">
        update account set account.name=#{name}, account.password=#{password}, profileImage=#{profileImage}, backgroundImage=#{backgroundImage}
        where id = #{id} and account.name = #{name}
    </update>

</mapper>